#meni{
	width:100%;
	background-color:#31577C;
}
*{
    margin:0;
    padding:0;
}
ul {
    list-style-type:none;
    position: absolute;
}
li {
    display:inline-block;
    float: left;
}
li a {
    display:block;
    min-width:140px;
    text-align: center;
    line-height: 47px;
    font-family:Arial;
    color: white;
    background: #31577C;
    text-decoration: none;
	
}
li:hover a {
    background: #97C026;
	transition: background-color 0.5s ease;
}
li:hover ul a {
    background: #f3f3f3;
    color: #2f3036;
    height: 40px;
    line-height: 40px;
	transition: background-color 0.5s ease;
}
li:hover ul a:hover {
    background: #97C026;
    color: white;
}
li ul {
    display: none;
}
li ul li {
    display: block;
    float: none;
}
ul li a:hover + .drop, .drop:hover {
    display: block;
}
.meni {
    font-family: Arial;
    text-decoration: none;
    color: white;
    background: #31577C;
    text-align: center;
    padding: 10px 0;
    display: none;
}
input[type=checkbox]{
    display: none;
}
input[type=checkbox]:checked ~ #meni{
    display: block;
	
}
@media screen and (max-width : 760px){
    ul {
        position: static;
        display: none;
    }
    ul li, li a {
        width: 100%;
    }
    .meni {
        display:block;
    }
}