	*{
    margin:0;
    padding:0;
}
a{
	text-decoration: none;
	color:orange;
}
a:visited{
	text-decoration: none;

}
body{
	background-image: url("Fotografije/android.jpg");
	height:100%;
	background-attachment:fixed;
	background-repeat:no-repeat;
	color:white;
	font-family:Arial;
	text-shadow: 0px 0px 20px black;	
	}

h1{
	text-size:20px;
}
input[type=text] {
  width: 200px;
  padding: 7px 7px;
  margin:5px 0;
  box-sizing: border-box;
}
input[type=password] {
  width: 200px;
  padding: 7px 0px;
  margin: 5px 0;
  box-sizing: border-box;
}
input[type=text]:focus,[type=password]:focus{
	border:2px solid #97C026;
}
select {
	width:200px;
	margin:8px 0;
	box-sizing:border-box;
}
select :focus{
	border:2px solid #97C026;
}
input[type=submit]{
	background-color:#97C026;
	border:none;
	color:white;
	padding:12px 20px;
	margin:15px 0;
	width:200px;
}

table {
    border-collapse: collapse;
}
table, th, td {
	border:1px solid white;
}
.greske{
	color:red;
}

table, th, td {
	border=1px solid black;
}

.reg{
	position:absolute;
	margin:0 auto;
	top:30%;
	right:0;
	bottom:0;
	left:0;
	padding-top:30px;	
	background-color:#31577C;
	width:1100px;
	height:200px;
	border-radius:10px;
	opacity:.9;
}
@media only screen and (max-width: 768px) {
	.reg {
		text-align:center;
		top:35%;
	}
}